name = "new-one-api"
main = "src/index.ts"
compatibility_date = "2025-04-28"

[vars]
ADMIN_TOKEN = "your-admin-token"
NVIDIA_MODELS_API_URL = "your-nvidia-free-models-api-url"

[triggers]
crons = ["0 0 * * *"] # 每天 08:00 (北京时间 UTC+8 即 UTC 00:00)

[assets]
directory = "./public"
not_found_handling = "single-page-application"
binding = "ASSETS"
run_worker_first = ["/api/*", "/v1/*"]

[[d1_databases]]
binding = "DB"
database_name = "your-database-name"
database_id = "your-database-id"
